<div data-hook="admin_stripe_configurations_fields">
  <%= f.field_container :name do %>
    <%= f.label :name, I18n.t('spree_stripe_subscriptions.models.stripe_configuration.name') %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.error_message_on :name %>
  <% end %>

  <%= f.field_container :description do %>
    <%= f.label :description, I18n.t('spree_stripe_subscriptions.models.stripe_configuration.description') %><br>
    <%= f.text_area :description, class: 'form-control' %>
  <% end %>

  <div id="preference-settings" class="form-group">
    <%= preference_fields(@stripe_configuration, f) %>
  </div>

  <%= f.field_container :billing_address_collection, class: ['form-group'] do %>
    <%= f.label :billing_address_collection, I18n.t('spree_stripe_subscriptions.models.stripe_configuration.billing_address_collection') %>
    <%= f.select :billing_address_collection, Spree::StripeConfiguration::ADDRESS_COLLECTION_OPTIONS.collect { |k, v| [v, k] }, {}, { class: 'select2' } %>
  <% end %>

  <%= f.field_container :allow_promotion_codes, class: ['checkbox'] do %>
    <%= f.label :allow_promotion_codes do %>
      <%= f.check_box :allow_promotion_codes %>
      <%= I18n.t('spree_stripe_subscriptions.models.stripe_configuration.allow_promotion_codes') %>
    <% end %>
  <% end %>

  <%= f.field_container :automatic_tax, class: ['checkbox'] do %>
    <%= f.label :automatic_tax do %>
      <%= f.check_box :automatic_tax %>
      <%= I18n.t('spree_stripe_subscriptions.models.stripe_configuration.automatic_tax') %>
    <% end %>
  <% end %>

  <%= f.field_container :tax_id_collection, class: ['checkbox'] do %>
    <%= f.label :tax_id_collection do %>
      <%= f.check_box :tax_id_collection %>
      <%= I18n.t('spree_stripe_subscriptions.models.stripe_configuration.tax_id_collection') %>
    <% end %>
  <% end %>

  <%= f.field_container :active, class: ['checkbox'] do %>
    <%= f.label :active do %>
      <%= f.check_box :active %>
      <%= I18n.t('spree_stripe_subscriptions.models.stripe_configuration.active') %>
    <% end %>
  <% end %>
</div>
